// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;
#app {
  position: relative;
}
.theme-container .no-sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
}
.theme-container .page.blog {
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
}
.theme-container .page{
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
}
.sidebar{
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 3;
}